header{
    box-sizing: border-box;
    background: #4aaaa5;
    width: 15%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10;
    float: left;
    padding-top: 15px;
    height: 100%;

}

h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: none none solid none;
    border-color: #E0DBDB;
}

#main-bio{
    background: white;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    font-size: 18;
}

#bio-image{
    float: left;
    margin-right: 20px;
}

body{
    background: #ededed;
}

#contact-info{
    background-color: white;
}

.container{
    width: 960px;
    margin: auto;
}

.topofpage{
    width: 100%;
    background: #ffffff;
    height: 75px;
}

input{
    width: 100%;
}

.navigation{
    float: right;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17;
    margin-top: 25;
    word-spacing: 40px;
    /* margin-right: 152px; */
}

#indexstyle:hover{
    background: #4aaaa5;
    color: #ffffff
}

#portfoliostyle:hover{
    background: #4aaaa5;
    color: #ffffff;
}

#contactstyle:hover{
    background: #4aaaa5;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #999999;
}

.logo{
    /* position: absolute; */
    /* top: 50; */
    /* right: 50; */
    margin-top: 25px;
    margin-left: 25px;
    float: right;
}